<div class="columns product-usages-fields">
  <div class="column is-8">
    <div class="select is-fullwidth">
      <%= f.collection_select :product_id,
          @products,
          :id,
          :name_and_unit,
          { include_blank: 'selecione...', include_hidden: false }
      %>
    </div>
  </div>

  <div class="column is-2">
    <%= f.text_field :quantity, class: "input" %>
  </div>

  <div class="column is-2">
    <%= f.hidden_field :_destroy %>
    <%= link_to "Deletar", '#', class: "remove_fields button is-danger is-fullwidth" %>
  </div>
</div>
