<h1 class="title mt-6 has-text-centered">Editar Serviço</h1>

<div class="has-text-centered my-4">
  <%= link_to "Voltar para serviços", services_path, class: "button is-link is-small" %>
</div>

<%= render "form", service: @service %>
