<div class="columns mt-6 is-centered ">
  <div class="column is-narrow">
    <h1 class="title is-size-2 has-text-centered">Serviços</h1>
    <div class="buttons is-centered">
      <%= link_to "Novo Serviço", new_service_path, class: "button is-link" %>
    </div>
      <table class="table">
        <thead>
          <tr>
            <th>Título</th>
            <th>Duração (min)</th>
            <th>Preço</th>
            <th>Comissionado</th>
            <th>Serviço Opcional</th>
            <th colspan="1"></th>
          </tr>
        </thead>
        <tbody>
          <div id="services">
            <% @services.each do |service| %>
              <tr>
                <%= render service %>
              </tr>
            <% end %>
          </div>
        </tbody>
      </table>
  </div>

</div>
