<div class="columns mt-6 is-centered ">
  <table class="table">
    <thead>
      <tr>
        <th>Título</th>
        <th>Duração (min)</th>
        <th>Preço</th>
        <th>Comissionado</th>
        <th>Serviço Opcional</th>
        <th><%= link_to "Adicionar novo Serviço", new_service_path, class: "tag is-link is-medium" %></th>
      </tr>
    </thead>
    <tbody>
      <div id="services">
        <% @services.each do |service| %>
          <tr>
            <%= render service %>
          </tr>
        <% end %>
      </div>
    </tbody>
  </table>

</div>
