<h1 class="title mt-6 has-text-centered">Novo Modelo de Cartão de Visita</h1>

<div class="has-text-centered my-4">
  <%= link_to "Voltar para Modelos de Vale Presente", gift_card_templates_path, class: "button is-link is-small" %>
</div>

<%= render "form", gift_card_template: @gift_card_template %>
