<div class="columns mt-6 is-centered ">
  <table class="table">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Preço</th>
        <th>Serviços</th>
        <th>Vale Presentes</th>
        <th><%= link_to 'Voltar para Modelos de Vale Presente', gift_card_templates_path, class: "tag is-medium is-link" %></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <%= render @gift_card_template %>
      </tr>
    </tbody>
  </table>
</div>
