<h1>Calendários</h1>
<%= link_to 'Profissional Diário', calendar_professional_daily_path %><br />
<%= link_to 'Profissional Semanal', calendar_professional_weekly_path %><br />
<%= link_to 'Administrativo', calendar_adm_path %>
