<div class="columns is-centered mt-6">
  <div class="column is-narrow">
<<<<<<< HEAD
    <h1 class="title has-text-centered">Reservas</h1>
    <div class="buttons is-centered">
      <%= link_to "Nova Reserva", new_booking_path, class: "button is-small is-link" %>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th>Notas</th>
          <th>Status</th>
          <th>Cancelado em</th>
          <th>Cliente</th>
          <th>Profissional</th>
          <th>Horário Inicial</th>
          <th>Horário Final</th>
          <th>Duração (minutos)</th>
          <th colspan="2"></th>
        </tr>
      </thead>
      <tbody id="bookings">
        <% @bookings.each do |booking| %>
        <tr>
          <%= render booking %>
        </tr>
        <% end %>
      </tbody>
    </table>
    <%= render 'shared/pagination', pagination: @pagination %>
  </div>
</div>
