<div class="columns is-centered mt-6">
  <div class="column is-narrow">
    <h1 class="title has-text-centered">Nova Reserva</h1>
    <div class="buttons is-centered">
      <%= link_to 'Reservas', bookings_path, class: "button is-link" %>
      <%= link_to 'Reservas em progresso', bookings_in_progress_path, class: "button is-link" %>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th>Notas</th>
          <th>Status</th>
          <th>Cancelado em</th>
          <th>Cliente</th>
          <th>Profissional</th>
          <th>Horário Inicial</th>
          <th>Horário Final</th>
          <th>Duração total</th>
          <th>Serviços Opcionais</th>
          <th colspan="2"></th>
        </tr>
      </thead>
      <tbody>
        <tr><%= render @booking %></tr>
      </tbody>
    </table>
  </div>
</div>
