<div class="columns is-centered mt-6">
  <div class="column is-4">
    <%= render "form", user: @user %>

    <div>
      <%= link_to "Voltar para usuários", users_path, class: "tag is-medium is-link" %>
    </div>
  </div>
  
</div>
