<div class="columns is-centered mt-6">
  <div class="column is-4">
    <%= render "form", user: @user %>

    <div>
      <%= link_to "Show this user", @user, class: "tag is-medium is-link" %>
      <%= link_to "Back to users", users_path, class: "tag is-medium is-link" %>
    </div>
  </div>
  
</div>
