<div class="columns is-centered mt-6">
  <div class="column is-narrow">
    <h1 class="title is-size-2 has-text-centered">Usuários</h1>
    <div class="buttons is-centered"><%= link_to "Adicionar novo Usuário", nil, class: "button is-link is-small" %></div>
    <table class="table">
      <thead>
        <tr>
          <th>Nome</th>
          <th>Email</th>
          <th>Telefone</th>
          <th colspan="2"></th>
        </tr>
      </thead> 
      <tbody>
        <div id="users">
          <% @users.each do |user| %>
            <tr>
              <%= render user %>
            </tr>
          <% end %>
        </div>
      </tbody>
    </table>
  </div>  
</div>
