<div class="columns mt-6 is-centered">
  <div class="column is-narrow">
    <h1 class="title is-size-2 has-text-centered">Agendamentos</h1>
    <div class="buttons is-centered">
      <%= link_to 'Novo Agendamento', new_schedule_path, class: "button is-small is-link" %>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th>Profissional</th>
          <th>Dias</th>
          <th>Começa em</th>
          <th>Termina em</th>
          <th>Intervalo começa em</th>
          <th>Intervalo termina em</th>
          <th colspan="2"></th>
        </tr>
      </thead>
      <tbody>
        <%= render 'empty' %>
        <div id="schedules">
          <% @schedules.each do |schedule| %>
            <tr>
              <%= render schedule %>
            </tr>
          <% end %>
        </div>
      </tbody>
    </table>
  </div>
</div>
