<div class="columns mt-6 is-centered">
  <div class="column is-narrow">
    <h1 class="title is-size-2 has-text-centered">Novo Agendamento</h1>
    <table class="table">
      <thead>
        <tr>
          <th>Dias</th>
          <th>Começa em</th>
          <th>Termina em</th>
          <th>Intervalo Começa em</th>
          <th>Intervalo Termina em</th>
          <th><%= link_to 'Voltar para agendamentos', schedules_path, class: "tag is-link is-small" %></th>
          <th colspan="2"></th>
        </tr>
      </thead>
      <tbody>
        <div id="schedules">
            <tr>
              <%= render @schedule %>
            </tr>
        </div>
      </tbody>
    </table>
  </div>
</div>
