<div class="columns mt-6 is-centered">
  <div class="column is-narrow">
    <h1 class="title is-size-2 has-text-centered">Novo Agendamento</h1>
    <table class="table">
      <thead>
        <tr>
          <th>Dias</th>
          <th>Começa em</th>
          <th>Termina em</th>
          <th>interval_starts_at</th>
          <th>interval_ends_at</th>
          <th colspan="2"></th>
        </tr>
      </thead>
      <tbody>
        <div id="schedules">
          
            <tr>
              <%= render schedule %>
            </tr>
          
        </div>
      </tbody>
    </table>
  </div>
</div>
