<% collection.each do |item| %>
  <li class="list-group-item is-size-5 pl-3" role="option" data-autocomplete-value="<%= item.send(autocomplete_value) %>">
    <%= item.send(autocomplete_label) %>
  </li>
<% end %>
