<% if resource && resource.errors.any? %>
  <div class="notification is-danger is-light">
    <% if resource.errors.many? %>
      <%= pluralize(resource.errors.count, "erros") %> proibiram este usuário de ser salvo:
    <% else %>
      <%= pluralize(resource.errors.count, "erro") %> proibiu este usuário de ser salvo:
    <% end %>

    <ul>
      <% resource.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
