<div class="columns mt-6 is-centered ">
  <div class="column is-narrow">
    <h1 class="title is-size-2 has-text-centered">Vales Presente</h1>
    <div class="buttons is-centered">
      <%= link_to "Novo Vale Presente", new_gift_card_path, class: "button is-link" %>
    </div>
      <table class="table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Modelo</th>
            <th>Preço</th>
            <th>Usado</th>
            <th>Faturado</th>
            <th colspan="1"></th>
          </tr>
        </thead>
        <tbody>
          <div id="gift_cards">
            <% @gift_cards.each do |gift_card| %>
              <tr>
                <%= render gift_card %>
              </tr>
            <% end %>
          </div>
        </tbody>
      </table>
  </div>

</div>
