<div class="columns is-centered mt-6">
  <div class="column is-full">
    <h1 class="title has-text-centered">Notas Fiscais de Serviço Eletronica</h1>
    <div class="buttons is-centered">
      <%= link_to "Voltar para Clientes", customers_path, class: "button is-link is-small" %>
    </div>
    <table class="table is-fullwidth">
      <thead>
        <tr>
          <th>ID</th>
          <th>Data</th>
          <th>Cliente</th>
          <th>Serviços</th>
          <th>Estado</th>
          <th colspan="3"></th>
        </tr>
      </thead>
      <tbody>
        <% @bills.each do |bill| %>
          <%= render bill %>
        <% end %>
      </tbody>
    </table>
    <%= render 'shared/pagination', pagination: @pagination %>
  </div>
</div>
