<div class="columns is-centered mt-6">
  <div class="column is-narrow">
    <h1 class="title is-size-3 has-text-centered">Clientes</h1>
    <div class="buttons is-centered">
      <%= link_to "Novo Cliente", new_customer_path, class: "button is-link" %>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th>Nome</th>
          <th>Email</th>
          <th>Telefone</th>
          <th>Documento</th>
          <th>Cidade</th>
          <th>Estado</th>
          <th colspan="2"></th>
        </tr>
      </thead>
      <tbody id="customers">
        <% @customers.each do |customer| %>
          <%= render customer %>
        <% end %>
      </tbody>
      </table>
  </div>
</div>
