<h1 class="title mt-3 has-text-centered">Ficha de Anamnese</h1>

<% if @qrcode %>
  <div><%= @qrcode.as_svg.html_safe %></div>
  <div><%= new_anamnesis_sheet_url(token: @token) %></div>
<% else %>
  <%= render "form", anamnesis_sheet: @anamnesis_sheet %>
<% end %>

<br>

<div>
  <%= link_to "Back to anamnesis sheets", anamnesis_sheets_path %>
</div>
