<div class="columns is-centered mt-6">
  <div class="column is-narrow">
    <h1 class="title is-size-2 has-text-centered">Produtos</h1>
    <div class="buttons is-centered"><%= link_to "Adicionar novo Produto", new_product_path, class: "button is-small is-link" %></div>
    <table class="table">
      <thead>
        <%= render 'search' %>
        <tr>
          <th class="is-size-5">Nome</th>
          <th class="is-size-5">Código SKU</th>
          <th class="is-size-5">Estoque Atual</th>
          <th class="is-size-5">Estoque</th>
          <th colspan="2"></th>
        </tr>
      </thead>
      <tbody>
        <div id="products">
          <% @products.each do |product| %>
            <tr>
              <%= render product %>
            </tr>
          <% end %>
        </div>
      </tbody>
    </table>
  </div>
</div>
