<%= render @product %>

<div>
  <%= link_to "Editar Produto", edit_product_path(@product) %> |
  <%= link_to "Back to products", products_path %>

  <%= button_to "Destroy this product", @product, method: :delete %>
</div>
